:root {
    /* Colores Oscuros */
    --color-oscuro-t: #373737ce;
    --color-oscuro: #373737;
    --color-font-oscuro: #373737;

    --fondo-page-oscuro: #373737;
    --fondo-cartas-oscuro: #373737;

    --sombra-oscuro: #373737;
    --text-sombra: -1px 1px 1px #6a6861ce;
    --btn-hover-oscuro: #37474f;

    /* Colores Claros */
    --btn-hover-claro: #e4e4e4;

    --fondo-page-claro: #fafafa;
    --color-claro-t: #fafaface;
    --color-claro: #fafafa;
    --fondo-cartas-claro: #e4e4e4;

    --sombra-claro: #fafafa;
    --color-font-claro: #fafaface;

    --color-font-medio: #9d9d9d;
    --tipo-font: 'urbanist-regular', 'rubik-regular', 'poppins-regular', 'Open Sans';

    --radius-serv: 10px 10px 0 0;
    --transition-animation: cubic-bezier(0.25, 0.1, 0.25, 1);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 300ms var(--transition-animation);
}

body {
    font-family: var(--tipo-font);
    transition: overflow-y 400ms;
    overflow-x: hidden;
}

body.zoom {
    overflow: hidden;
}

/* Inicio de la pagina */
/* Contenedor Header */
.app-header {
    width: 100%;
    height: 80px;
    display: block;
}

.app-header-nav {
    position: relative;
    max-width: 600px;
    height: 100%;
    margin: auto;
    display: block;
    border-radius: 0 0 5px 5px;
}

/* Contenido de Header */
/* Contenido - Localicaion de la pagina */
.app-nav-locacion {
    position: relative;
    z-index: 10;
    width: 70%;
    line-height: 80px;
    display: inline-block;
}

.app-location-item {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
}

.app-location-item img {
    width: 45px;
    cursor: pointer;
    padding-right: 5px;
    transition: all 300ms;
}

#app-location {
    cursor: default;
    padding-left: 5px;
    font-size: 1.1rem;
}

.app-location-sep {
    cursor: default;
    display: inline;
    padding-bottom:  2px;
}

/* Contenido - Logo de la pagina */
.app-content-logo {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    overflow: hidden;
    border-radius: 100%;
}

#app-nav-logo {
    top: 35%;
    z-index: 10;
    width: 100px;
    height: 100px;
    font-size: .6rem;
    transition: all 300ms;
}

.app-logo-cat a {
    text-decoration: none;
    text-align: center;
    margin: auto;
    display: block;
    font-weight: bold;
}

.app-logo-img img {
    width: 100%;
}

/* Contenido del menu de navegacion */
/* Contenido - BTN de despliegue menu */
.app-nav-btn-menu {
    transition: all 300ms;
    display: inline-flex;
    position: relative;
    height: 100%;
    width: 28%;
    z-index: 10;
    align-items: center;
    justify-content: flex-end;
}

.app-btn-menu-hidden {
    display: none;
}

.app-btn-menu {
    height: 35px;
    width: 35px;
    display: flex;
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    transition: all 300ms var(--transition-animation);
}

.app-btn-menu i {
    font-size: 1.1rem;
    text-align: center;
    transition: all 300ms;
}

/* Contenido - Menu de Navegacion */
.app-nav-menu {
    border-radius: 0 0 5px 5px;
    position: absolute;
    min-height: 300px;
    display: flex;
    width: 100%;
    top: -400px;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top: 40px;
    align-items: center;
    transition: all 300ms var(--transition-animation);
}

.app-menu-list {
    width: 100%;
    display: block;
}

.app-list-item {
    list-style: none;
    display: block;
    margin: 5px 0;
    text-align: center;
}

.app-list-item a {
    cursor: pointer;
    display: block;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: all 300ms;
    text-decoration: none;
}

.app-list-item a:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    transition: all 300ms var(--transition-animation);
}

.app-list-item:hover > a:after {
    width: 4%;
}

.app-nav-menu.opened {
    top: calc(100% - 22px);
}

/* Intermedio de la pagina */
/* Mensaje PopUP error con la Conexion */
.app-popup-err {
    position: absolute;
    display: flex;
    height: 120px;
    width: 250px;
    margin: auto;
    left: 0;
    right: 0;
    top: -200px;
    z-index: 1111;
    flex-wrap: wrap;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: var(--fondo-cartas-claro);
    transition: all 700ms var(--transition-animation);
}

.app-popup-err p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 25px;
    display: block;
    padding: 5px;
    cursor: default;
    font-weight: bold;
    color: var(--color-font-medio);
}

.app-popup-err p:nth-child(2) {
    font-size: 2rem;
}

.app-popup-err.active {
    animation: PopUpError 600ms linear both;
}

/* Contenedor de la seccion principal Main */
.app-main {
    width: 100%;
    display: block;
    min-height: 400px;
    margin-bottom: 30px;
    padding: 60px 0 80px 0;
}

.app-main-cont {
    max-width: 600px;
    min-height: 87vh;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Contenido - Cartas de los Articulos */
.app-cont-item {
    display: block;
    border-radius: 10px;
    transform: scale(0);
    /*min-height: 250px; */
    width: 260px;
    margin: 15px 0;
    transition: all 300ms var(--transition-animation);
}

/* Contenido - Imagen de las cartas de los Articulos */
.app-item-img {
    max-height: 160px;
    min-height: 160px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.app-item-img img {
    width: 100%;
}

/* Contenido - Contenedor Titulo/BTN-ver de las cartas de los Articulos */
.app-item-text {
    display: block;
    padding: 5px;
    min-height: 70px;
    border-radius: 0 0 5px 5px;
}

.app-item-text p {
    display: inline-block;
    width: 45%;
    cursor: default;
}

.app-item-text p:nth-child(1) {
    font-weight: bold;
    font-size: .8rem;
    margin-top: 23px;
    padding-left: 20px;
    color: var(--color-font-medio);
}

.app-item-text p:nth-child(2) {
    float: right;
    padding: 10px;
    font-size: .9rem;
}

.app-item-text p:nth-child(2) a {
    border-radius: 5px;
    font-weight: bold;
    display: block;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 300ms var(--transition-animation);
}

.app-item-text p:nth-child(2) a:after,
.app-item-text p:nth-child(2) a:before {
    position: absolute;
    content: '';
    height: 0;
    width: 3px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    transition: all 300ms var(--transition-animation);
}

.app-item-text p:nth-child(2) a:after {
    left: 0;
}
.app-item-text p:nth-child(2) a:before {
    right: 0;
}

.app-item-text p:nth-child(2) a > i {
    font-size: 1rem;
}

.app-item-text p:nth-child(2):hover > a:after,
.app-item-text p:nth-child(2):hover > a:before {
    height: 40%;
}

/* Pagina Vista */
/* Contenido - fotos de las presentaciones */
/* Contenido - Contenedor de las fotos con zoom */
.app-vista-cont-zoom {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    z-index: 11;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: flex-end;
    background-color: var(--color-oscuro-t);
    transition: all 400ms var(--transition-animation);
}

.app-vista-cont-zoom.zoom {
    display: flex;
}

/* Contenedor donde se muestra la Imagen con Zoom */
.app-zoom-foto {
    max-height: calc(100vh - 60px);
    max-width: calc(100vw - 100px);
    overflow-y: auto;
    display: flex;
    margin: auto;
    padding: 10px;
    align-self: center;
    transform: scale(0);
    transition: transform 400ms var(--transition-animation);
}

.app-zoom-foto img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.app-zoom-foto.zoom {
    transform: scale(1);
}

/* Contenido del Boton para cerrar el Contenedor del Zoom */
.app-zoom-cont-close-btn {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    align-content: center;
}

.app-btn-menu-dark {
    margin: 0 auto 10px auto;
    box-shadow: 0px 1px 20px -3px var(--sombra-oscuro);
}

.app-btn-menu-dark i {
    transition: all 300ms var(--transition-animation);
    -webkit-transition: all 300ms var(--transition-animation);
    -moz-transition: all 300ms var(--transition-animation);
    -ms-transition: all 300ms var(--transition-animation);
    -o-transition: all 300ms var(--transition-animation);
}

/* Vista normal de la presentacion */
.app-vista {
    /* min-height: 160px; */
    margin: 1px;
    cursor: pointer;
    position: relative;
}

.app-vista-cont-fotos {
    max-width: 524px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Bordes personalizados para las fotos de las presentaciones */
.app-vista-cont-fotos > .app-cont-item:nth-child(1) figure,
.app-vista-cont-fotos > .app-cont-item:nth-child(1) .app-vista-zoom {
    border-radius: 10px 0 0 0;
}

.app-vista-cont-fotos > .app-cont-item:nth-child(2) figure,
.app-vista-cont-fotos > .app-cont-item:nth-child(2) .app-vista-zoom {
    border-radius: 0 10px 0 0;
}

.app-vista-cont-fotos > .app-cont-item:nth-child(3) figure,
.app-vista-cont-fotos > .app-cont-item:nth-child(3) .app-vista-zoom {
    border-radius: 0 0 0 10px;
}

.app-vista-cont-fotos > .app-cont-item:nth-child(4) figure,
.app-vista-cont-fotos > .app-cont-item:nth-child(4) .app-vista-zoom {
    border-radius: 0 0 10px 0;
}

/* Contenido de la Lupa - Lentes de las cartas para el zoom */
.app-vista-zoom {
    transition: all 300ms;
    position: absolute;
    visibility: hidden;
    height: 100%;
    max-height: 160px;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
}

.app-zoom {
    text-align: center;
    display: none;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font-oscuro);
    transition: all 100ms !important;
}

.app-vista:hover .app-vista-zoom {
    background-color: rgba(250,250,250,.4);
    visibility: visible;
}

.app-vista:hover .app-vista-zoom .app-zoom {
    display: block;
}

/* Contenido - Texto de las presentaciones */
.app-vista-cont-titulo,
.app-vista-cont-texto {
    min-width: 270px;
    max-width: 524px;
    display: block;
    width: 100%;
    margin: auto;
    padding: 5px;
}

.app-vista-cont-titulo {
    text-transform: capitalize;
    letter-spacing: .02em;
    padding-top: 30px;
}

.app-vista-cont-texto {
    text-align: justify;
    font-size: .9rem;
    letter-spacing: .03em;
    padding-bottom: 30px;
}

/* Pagina de Contactos */
/* Formulario De Contacto */
/* Contenedor - Form Contactos */
.app-contac-form {
    background-color: #e4e4e4ce;
    transform: scale(0);
    border-radius: 4px;
    margin: 20px auto;
    display: block;
    padding: 10px;
    width: 90%;
}

/* Contenido - Formulario Contacto */
/* Contenido - Titulo del form */
.app-form-title {
    display: block;
    padding: 10px;
    cursor: default;
    text-align: center;
}

.app-form-title h1 {
    font-size: 1.7rem;
    color: var(--color-font-oscuro);
}

/* Contenido - Inputs y textarea del form */
.app-form-cont {
    display: block;
    padding: 10px;
}

.app-form {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.app-form-line {
    margin: 15px auto 0 auto;
    position: relative;
    display: inline-block;
    border-bottom: 3px solid var(--color-font-medio);
}

.app-form-line:before {
    background-color: var(--color-oscuro);
    transition: all 300ms;
    border-radius: 20px;
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: none;
    bottom: -3px;
}

#app-form-textarea {
    width: 100%;
    margin: 15px 10px;
}

.app-form-camp {
    transition: all 300ms;
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    z-index: none;
    padding: 5px;
    color: var(--color-font-medio);
}

.app-form-input-msj {
    background: #ED213A;
    background: -webkit-linear-gradient(-140deg,#ED213A, #93291E);
    background: linear-gradient(-140deg, #ED213A,#93291E);
    transition: all 300ms;
    position: absolute;
    top: -35px;
    left: 0;
    width: 102%;
    display: none;
    padding: 2px;
    border-radius: 2px;
}

.app-form-input-msj p {
    color: var(--color-font-oscuro);
    text-align: right;
    font-size: .8rem;
}

.app-form-input {
    margin-bottom: 4px;
    min-width: 230px;
    position: relative;
    z-index:  none;
}

.app-form-input input,
.app-form-input textarea {
    display: block;
    border: none;
    outline: none;
    padding: 5px;
    height: 100%;
    width: 100%;
    font-size: .9rem;
    color: var(--color-font-oscuro);
    font-family: var(--tipo-font);
    background-color: transparent;
}

.app-form-textarea {
    min-height: 30px;
    max-height: 70px;
}

/* Acciones - BTN Enviar form */
.app-form-btn-load {
    margin: 10px auto 0 auto;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    align-items: center;
}

.app-form-btn {
    color: var(--fondo-cartas-claro);
    border-radius: 100%;
    font-size: 2.2rem;
    cursor: pointer;
    border: none;
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    text-align: center;
    transition: all 300ms;
    box-shadow: 1px 2px 3px -1px var(--sombra-oscuro);
    background: linear-gradient(200deg,rgb(204,0,0),rgb(153,0,0));
}

.app-form-btn:hover {
    background: linear-gradient(200deg,rgb(153,0,0),rgb(204,0,0));
}

/* Icono Send */
#app-form-send {
    display: block;
}

#app-form-send.process {
    display: none;
}

/* Icono Chequeado */
#app-form-check {
    display: none;
}

#app-form-check.process {
    display: block;
}

/* Icono Error */
#app-form-error {
    display: none;
    font-size: 1.8rem;
}

#app-form-error.process {
    display: block;
}

/* A N I M A C I O N E S - form */
/* Animacion - app-form-line con focus */
.app-form-line.focus-in-te .app-form-camp {
    top: -16px;
    font-size: .8rem;
    color: var(--color-font-oscuro);
}

.app-form-line.focus-in-te:before {
    width: 102%;
}

/* Color cuando los datos no son Validos */
.app-form-line.error:before {
    background: #ED213A;
    background: -webkit-linear-gradient(140deg,#ED213A, #93291E);
    background: linear-gradient(140deg, #ED213A,#93291E);
}

.app-form-line.error .app-form-camp {
    color: #c12414;
}

/* Color cuando los datos son enviados correctamente */
.app-form-line.processValid:before {
    background: #00cc47;
    background: -webkit-linear-gradient(200deg,#00cc47,#009935);
    background: linear-gradient(200deg,#00cc47,#009935);
}

.app-form-line.processValid .app-form-camp {
    color: #009935;
}

.app-form-input-msj.error {
    display: block;
}

/* Animacion - app-form-btn en envio */
.app-form-btn-loader {
    display: none;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 100%;
    border: 2px solid transparent;
    border-top-color: var(--color-oscuro);
}

.app-form-btn-loader.process {
    animation: load-process 700ms linear infinite;
    display: flex;
}

.app-form-btn-load.process {
    display: none;
}

.app-form-btn.processValid {
    background: linear-gradient(200deg,#00cc47,#009935);
}

/* Pagina Desarrollo Web */
/* Contenido - Titulos de los servicios */
.app-serv-item {
    padding-bottom: 20px;
    cursor: default;
}

.app-item-serv-title p {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.6rem;
}

.app-item-serv-cont {
    display: block;
    padding: 10px;
}
.app-item-serv-text,
.app-item-serv-cont ul {
    width: 200px;
    margin: auto;
    border-radius: 5px;
}

.app-item-serv-text p {
    display: block;
    padding: 22px 20px;
    font-size: .8rem;
    line-height: 20px;
    text-align: left;
    letter-spacing: 1px;
    color: var(--color-claro);
}

/* Servicios Caracterizados */
.app-serv-basico ul {
    background: #ffd156;
    background: -webkit-linear-gradient(140deg, #ffd156,#ff00c6);
    background: linear-gradient(140deg, #ffd156,#ff00c6);
}

.app-serv-premiun ul {
    background: #00B4DB;
    background: -webkit-linear-gradient(140deg, #00f8de,#0083B0);
    background: linear-gradient(140deg, #00f8de,#0083B0);
}

.app-serv-golden ul {
    background: #fbf46b;
    background: -webkit-linear-gradient(140deg, #fbf46b, #ff6d78);
    background: linear-gradient(140deg, #fbf46b, #ff6d78);
}

.app-serv-ultra ul {
    background: #ED213A;
    background: -webkit-linear-gradient(140deg,#ED213A, #93291E);
    background: linear-gradient(140deg, #ED213A,#93291E);
}

.app-item-serv-cont ul li {
    list-style: none;
    display: block;
    padding: 8px 25px;
    text-align: left;
    font-size: .9rem;
    color: var(--color-claro);
}

.app-serv-precio {
    text-align: center !important;
    padding: 15px !important;
    font-size: 1.5rem !important;
}

.app-serv-last {
    padding-bottom: 20px !important;
}

/* Pagina Bio */
/* Contenedor - contenido de bio */
.app-bio {
    position: relative;
    min-width: 100%;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
}

/* Contenido - Foto identificador */
.app-bio-cont-foto {
    transition: all 500ms var(--transition-animation);
    margin-left: -200px;
    visibility: hidden;
    min-width: 180px;
    overflow: hidden;
    float: left;
    height: 500px;
    padding: 20px 10px;
}

.app-bio-foto img {
    width: 100%;
}

.app-bio-cont-foto-anim {
    visibility: visible;
    margin-left: 0;
}

.app-bio-sep {
    display: none;
    font-size: 1.3rem;
}

/* Contenido - Texto de la bio */
.app-bio-cont-text {
    transition: all 500ms var(--transition-animation);
    display: block;
    width: 400px;
    float: right;
    visibility: hidden;
    margin-right: -200px;
}

.app-bio-cont-text-anim {
    visibility: visible;
    margin-right: 0;
}

.app-bio-text {
    line-height: 25px;
    font-size: .85rem;
    display: block;
    padding: 10px;
    padding-left: 20px;
    text-align: justify;
    letter-spacing: 1px;
}

/* Animacion de Scale de las cartas al iniciarce */
.app-cont-item-scale {
    animation: scaleCarts 400ms both;
    animation-timing-function: ease-in-out;   
    animation-delay: 300ms;
}

/* Paginación */
.app-paginacion-cont {
    width: 100%;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    /*border: 2px solid #000;*/
}

.app-paginacion-cont.inactivo {
    display: none;
}

.app-paginacion {
    /*background-color: red;*/
    display: block;
}

.app-paginacion a {
    text-decoration: none;
    display: inline-flex;
    font-size: .9rem;
    width: 30px;
    height: 30px;
    margin: 2px;
    font-weight: bold;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.app-paginacion-link {
    background: var(--fondo-cartas-claro);
}

.app-paginacion-link.active {
    background: #ED213A;
    background: -webkit-linear-gradient(140deg,#ED213A, #93291E);
    background: linear-gradient(140deg, #ED213A,#93291E);
}

.app-paginacion-left,
.app-paginacion-right {
    background-color: var(--color-font-medio);
}

.app-paginacion-left.inactivo,
.app-paginacion-right.inactivo {
    visibility: hidden;
}

/* Boton Flotante */
.app-float-btn-content {
    width: 80px;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 5vh;
    right: 0;
}

.app-float-btn-cont {
    height: 60px;
    width: 60px;
    margin: 2px;
    display: flex;
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.app-float-btn-cont-oscuro {
    background: var(--color-claro);
}

/* Boton Flotante Para Cambiar el Tema */
.app-float-btn-theme {
    width: 30px;
    height: 10px;
    position: relative;
    border-radius: 20px;
    background-color: var(--color-oscuro-t);
}

.app-float-btn-theme-circle {
    box-shadow: 1px 2px 3px -1px var(--sombra-oscuro);
    transition: all 200ms var(--transition-animation);
    position: absolute;
    top: -4px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

/* Boton Flotante Para el NewLetters */
.app-float-btn-newLetters {
    font-size: 1.7rem;
    color: var(--color-font-oscuro);
    text-shadow: var(--text-sombra);
}

/* New Letters */
.app-new-letter-cont {
    transition: all 300ms var(--transition-animation);
    border-radius: 10px;
    position: fixed;
    z-index: 111;
    top: -300px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 310px;
    align-items: center;
    justify-content: center;
}

.app-new-letter-cont.open {
    top: 45%;
}

.app-new-letter-msj {
    text-align: justify;
    display: block;
    margin: 2px;
    cursor: default;
    font-size: .8rem;
}

.app-new-letter-form {
    display: flex;
    width: 100%;
    padding: 5px 0;
    /*background-color: var(--color-claro);*/
}

.app-new-letter-input {
    display: inline-flex;
    margin: 0;
    width: 100%;
    /*border: 1px solid #000;*/
}

.app-new-letter-input input {
    color: var(--color-font-oscuro);
    position: relative;
    border-radius: 5px;
    border: none;
    padding: 7px;
    width: 100%;
    font-size: .7rem;
}

.app-new-letter-input input:focus {
    outline: none;
}

.app-new-letter-btn {
    position: absolute;
    right: 23px;
    bottom: 25px;
}

.app-new-letter-btn button {
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: flex;
    border: none;
    font-size: 1.5rem;
    align-items: center;
    background: transparent;
    justify-content: center;
    color: var(--color-font-oscuro);
    text-shadow: var(--text-sombra);
}

#app-new-letter-send {
    display: block;
}

/* Loader para el New Letter */
.app-new-letter-loader-cont,
.app-new-letter-err-email {
    /*border: 2px solid #000;*/
    position: absolute;
    display: none;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 27px;
    align-items: center;
    justify-content: center;
}

.app-new-letter-loader-cont.process {
    display: flex;
}

.app-new-letter-err-email.process {
    font-size: .9rem;
    display: flex;
    color: #93291E;
    height: 30px;
    font-weight: bold;
    text-align: center;
}

.app-new-letter-loader {
    display: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid transparent;
    border-top-color: var(--color-oscuro);
    animation: load-process 600ms linear infinite;
}

.app-new-letter-loader.process {
    display: block;
}

/* Contenedor de los iconos Error y Check */
.app-new-letter-check {
    display: none;
    font-size: 1.8rem;
    text-shadow: var(--text-sombra);
}

.app-new-letter-check.process {
    display: block;
}

#app-new-letter-check {
    display: none;
    color: #009935;
}

#app-new-letter-check.process {
    display: block;
}

#app-new-letter-error {
    display: none;
    color: #93291Ece;
}

#app-new-letter-error.process {
    display: block;
}

/* Final de la pagina */
/* Footer */
.app-footer {
    border-radius: 5px 5px 0 0;
    position: relative;
    height: 25px;
    z-index: 0;
    margin: auto;
    max-width: 600px;
}

.app-footer-content {
    border-radius: 100% 100% 0 0;
    position: absolute;
    max-width: 70px;
    z-index: 1;
    bottom: 98%;
    left: 0;
    right: 0;
    margin: auto;
    height: 75px;
}

#app-footer-logo {
    display: block;
    top: 5px;
    cursor: pointer;
    font-size: .6rem;
    box-shadow: none;
}

.app-content-year {
    position: absolute;
    display: block;
    top: 90%;
    right: 0;
    left: 0;
    text-align: center;
}

.app-content-year p {
    font-weight: bold;
    font-size: .8rem;
    cursor: default;
}

/* Loader Global */
.app-main-loader {
    height: 90vh;
    display: flex;
    /*align-items: center;*/
    transition: all 400ms;
}

.app-main-loader.process {
    display: none;
}

/* Reglas de estilo Responsive */
@media screen and (max-width: 600px) {
    .app-main-cont {
        min-height: 70vh;
    }
    /* Links del menu - animacion */
    .app-list-item > a:after {
        width: 1%;
    }

    /* Boton de Ver de las cartas - animacion */
    .app-item-text p:nth-child(2) > a:after,
    .app-item-text p:nth-child(2) > a:before {
        height: 40%;
    }

    /* Boton de Cerrar el Zoom - animacion */
    .app-btn-menu-dark i {
        color: var(--color-font-oscuro);
    }

    /* Imaganes que se muestran en las presentaciones para el zoom */
    .app-vista-foto,
    .app-vista-zoom {
        border-radius: 10px !important;
    }

    /* Icono de Zoom en las imagenes de las presentaciones - animacion */
    .app-vista-zoom {
        visibility: visible;
        background-color: rgba(250,250,250,.4);
    }

    .app-zoom {
        display: block;
    }

    /* Pagina bio - cambio de Foto por un Icono */
    .app-bio {
        display: block;
    }

    .app-bio-cont-foto {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .app-bio-foto {
        display: none;
    }

    .app-bio-sep {
        display: block;
        font-size: 2rem;
        padding: 0 0 10px 0;
        margin-top: -20px; 
    }

    .app-bio-cont-text {
        width: 100%;
        padding-left: 0;
    }

    .app-bio-text {
        font-size: .8rem;
        padding: 10px 20px 0 20px;
    }
}

@media screen and (max-width: 520px) {
    .app-main-cont {
        justify-content: space-around;
    }
    
    .app-zoom-foto {
        max-height: calc(100vh - 10px);
        max-width: calc(100vw - 10px);
    }

    .app-vista-cont-fotos {
        margin-top: 10px;
        max-width: 500px
    }

    .app-vista {
        margin: 5px auto;
    }

    .app-vista-cont-titulo {
        width: auto;
    }

    .app-vista-cont-texto {
        max-width: 270px;
    }

    .app-form-line {
        width: 100%;
    }

    #app-form-textarea {
        margin: 15px auto;
    }
}

@media screen and (max-width: 360px) {
    .app-nav-locacion #app-location {
        font-size: .8rem;
    }

    .app-list-item a {
        font-size: .8rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 320px) {
    .app-nav-locacion #app-location {
        font-size: 1rem;
    }

    .app-content-logo {
        display: none;
    }

    .app-nav-menu {
        min-height: 200px;
        padding-top: 0;
    }

    .app-nav-menu.opened {
        top: calc(100% - 10px);
    }

    .app-main {
        padding-top: 40px;
    }

    .app-zoom-foto {
        max-height: calc(100vh - 2px);
        max-width: calc(100vw - 2px);
    }
}

/* Key Frames - Animaciones */
@keyframes scaleCarts {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes load-process {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes PopUpError {
    100% {
        top: 50%;
    }
}

@keyframes FloatBtnOscuro {
    0% {
        left: -1%
    }

    100% {
        left: 45%;
    }
}
