:root {
    --color-oscuro-t: #373737ce;
    --color-oscuro: #373737;
    --color-claro: #fafafa;
    --sombra: #373737;

    --fondo-page: #fafafa;
    --fondo-cartas: #e4e4e4;

    --btn-hover: #e4e4e4;

    --color-font-claro: #9d9d9d;
    --color-font: #373737;
    --tipo-font: Helvetica, 'Maven Pro', 'Open Sans';

    --text-sombra: -1px 1px 1px  #6a6861ce;
    --radius-serv: 10px 10px 0 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 1s;
}

body {
    background-color: var(--fondo-page);
    font-family: var(--tipo-font);
    transition: overflow-y 400ms;
}

body.zoom {
    overflow: hidden;
}

/* Inicio de la pagina */
/* Contenedor Header */
.app-header {
    background-color: var(--fondo-page);
    width: 100%;
    height: 80px;
    display: block;
}

.app-header-nav {
    position: relative;
    max-width: 600px;
    height: 100%;
    margin: auto;
    display: block;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px -5px var(--sombra);
}

/* Contenido de Header */
/* Contenido - Localicaion de la pagina */
.app-nav-locacion {
    position: relative;
    z-index: 10;
    width: 70%;
    line-height: 80px;
    display: inline-block;
}

.app-location-item {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    color: var(--color-font);
}

.app-location-item img {
    width: 45px;
    cursor: pointer;
    padding-right: 5px;
    transition: all 300ms;
}

#app-location {
    padding-left: 5px;
    font-size: 1.1rem;
}

.app-location-sep {
    display: inline;
    padding-bottom:  2px;
}

/* Contenido - Logo de la pagina */
.app-content-logo {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    border-radius: 100%;
    background-color: var(--fondo-page);
    box-shadow: 0px 0px 10px -5px var(--sombra);
}

#app-nav-logo {
    top: 35%;
    z-index: 10;
    width: 100px;
    height: 100px;
    transition: all 300ms;
}

.app-logo-img img {
    width: 100%;
}

/* Contenido del menu de navegacion */
/* Contenido - BTN de despliegue menu */
.app-nav-btn-menu {
    position: relative;
    width: 28%;
    z-index: 10;
    float: right;
}

#app-nav-btn-abrir {
    transition: all 300ms;
}

#app-nav-btn-cerrar{
    display: none;
    transition: all 300ms;
}

.app-btn-menu {
    margin: 20px 20px 0 0;
    height: 35px;
    width: 35px;
    float: right;
    padding: 7px .555rem;
    border-radius: 100%;
    transition: all 300ms;
}

.app-btn-menu i {
    font-size: 1.1rem;
    text-align: center;
    transition: all 300ms;
    color: var(--color-font);
}

/* Contenido - Menu de Navegacion */
.app-nav-menu {
    box-shadow: 0px 10px 15px -10px var(--sombra);
    background-color: var(--fondo-page);
    border-radius: 0 0 5px 5px;
    position: absolute;
    min-height: 300px;
    display: flex;
    width: 100%;
    top: -400px;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top: 40px;
    align-items: center;
    transition: top 300ms;
}

.app-menu-list {
    width: 100%;
    display: block;
}

.app-list-item {
    list-style: none;
    display: block;
    margin: 5px 0;
    text-align: center;
}

.app-list-item a {
    cursor: pointer;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: all 300ms;
    text-decoration: none;
    color:var(--color-font);
}

.app-list-item a:hover {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
}

.app-btn-menu:hover {
    background-color: var(--btn-hover);
}

.app-nav-menu.opened {
    top: calc(100% - 22px);
}

/* Intermedio de la pagina */
/* Contenedor de la seccion principal Main */
.app-main {
    width: 100%;
    display: block;
    min-height: 400px;
    padding: 60px 0 80px 0;
}

.app-main-cont {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Contenido - Cartas de los Articulos */
.app-cont-item {
    display: inline-block;
    border-radius: 10px;
    transform: scale(0);
    /* min-height: 250px; */
    width: 260px;
    margin: 15px auto;
    transition: all 300ms;
    box-shadow: 0px 3px 10px -5px var(--sombra);
}

/* Contenido - Imagen de las cartas de los Articulos */
.app-item-img {
    height: 180px;
}

.app-item-img img {
    border-radius: 5px 5px 0 0;
    height: 100%;
    width: 100%;
}

/* Contenido - Contenedor Titulo/BTN-ver de las cartas de los Articulos */
.app-item-text {
    display: block;
    padding: 5px;
    min-height: 70px;
    border-radius: 0 0 5px 5px;
    background-color: var(--fondo-cartas);
}

.app-item-text p {
    display: inline-block;
    width: 45%;
    color: var(--color-font);
}

.app-item-text p:nth-child(1) {
    font-weight: bold;
    font-size: .8rem;
    margin-top: 23px;
    padding-left: 20px;
    color: var(--color-font-claro);
}

.app-item-text p:nth-child(2) {
    float: right;
    padding: 10px;
    font-size: .9rem;
}

.app-item-text p:nth-child(2) a {
    color: var(--color-font);
    border-radius: 5px;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-align: center;
    transition: all 300ms;
    text-decoration: none;
    border: 2px solid var(--color-oscuro);
}

.app-item-text p:nth-child(2) a > i {
    font-size: 1rem;
}

.app-item-text p:nth-child(2) a:hover {
    background-color: var(--color-oscuro);
    color: var(--color-font-claro);
}

/* Pagina Vista */
/* Contenido - fotos de las presentaciones */
/* Contenido - Contenedor de las fotos con zoom */
.app-vista-cont-zoom {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    top: 0;
    left: 0;
    z-index: 11;
    align-items: center;
    transition: visibility 400ms;
    background-color: #373737ce;
}

.app-zoom-foto {
    max-height: calc(100vh - 50px);
    max-width: calc(100vw - 100px);
    overflow-y: auto;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    transform: scale(0);
    transition: transform 400ms;
}

.app-zoom-foto img {
    width: 100%;
    border-radius: 10px;
}

.app-vista-cont-zoom.zoom {
    visibility: visible;
}

.app-zoom-foto.zoom {
    transition: transform 400ms;
    transform: scale(1);
}

.app-vista-cont-fotos {
    max-width: 524px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Vista normal de la presentacion */
.app-vista {
    min-height: 180px;
    margin: 1px;
    position: relative;
}

#app-vista-top-le img,
#app-vista-top-le .app-vista-zoom {
    border-radius: 10px 0 0 0;
}

#app-vista-top-ri img,
#app-vista-top-ri .app-vista-zoom {
    border-radius: 0 10px 0 0;
}

#app-vista-bottom-le img,
#app-vista-bottom-le .app-vista-zoom {
    border-radius: 0 0 0 10px;
}

#app-vista-bottom-ri img,
#app-vista-bottom-ri .app-vista-zoom {
    border-radius: 0 0 10px 0;
}

.app-vista-zoom {
    transition: all 300ms;
    position: absolute;
    visibility: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
}

.app-zoom {
    text-align: center;
    display: none;
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-font);
    transition: all 100ms !important;
}

.app-vista:hover .app-vista-zoom {
    background-color: rgba(250,250,250,.4);
    visibility: visible;
}

.app-vista:hover .app-vista-zoom .app-zoom {
    display: block;
}

/* Contenido - Texto de las presentaciones */
.app-vista-cont-texto {
    max-width: 524px;
    margin: auto;
    display: block;
    margin-top: 20px;
    padding-bottom: 20px;
}

.app-vista-cont-texto p {
    color: var(--color-font);
    text-align: justify;
    font-size: .9rem;
    line-height: 20px;
    letter-spacing: .03em;
}

/* Pagina de Contactos */
/* Iconos De Redes Sociales */
.app-cont-contac {
    display: flex;
    width: 90%;
    margin: auto;
    height: 40px;
    align-items: center;
    align-content: center;
}

.app-cont-contac-ico {
    display: inline-flex;
    max-height: 100%;
    margin: auto;
    align-items: center;
}

.app-contac-ico-sep {
    display: inline-block;
    width: 3px;
    height: 28px;
    border-radius: 10px;
    background-color: var(--color-oscuro);
}

.app-contac-ico {
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    transition: all 300ms;
    background-color: var(--fondo-cartas);
}

.app-ico {
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    padding: 1px 5px;
    color: var(--color-font);
}

/* Animaciones - Fondo del app-ico */
.app-contac-ico:hover {
    background-color: var(--color-font-claro);
}

/* Formulario De Contacto */
/* Contenedor - Form Contactos */
.app-contac-form {
    box-shadow: 0px 0px 8px -5px var(--sombra);
    background-color: #e4e4e4ce;
    border-radius: 4px;
    margin: 20px auto;
    display: block;
    padding: 10px;
    width: 90%;
}

/* Contenido - Formulario Contacto */
/* Contenido - Titulo del form */
.app-form-title {
    display: block;
    padding: 10px;
    text-align: center;
}

.app-form-title h1 {
    font-size: 1.7rem;
    color: var(--color-font);
}

/* Contenido - Inputs y textarea del form */
.app-form-cont {
    display: block;
    padding: 10px;
}

.app-form {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.app-form-line {
    margin: 15px auto 0 auto;
    position: relative;
    display: inline-block;
    border-bottom: 3px solid var(--color-font-claro);
}

#app-form-textarea {
    width: 100%;
    margin: 15px 10px;
}

.app-form-line:before {
    background-color: var(--color-oscuro);
    transition: all 300ms;
    border-radius: 20px;
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: none;
    bottom: -3px;
}

.app-form-camp {
    transition: all 300ms;
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    z-index: none;
    padding: 5px;
    color: var(--color-font-claro);
}

.app-form-input-msj {
    background: #ED213A;
    background: -webkit-linear-gradient(-140deg,#ED213A, #93291E);
    background: linear-gradient(-140deg, #ED213A,#93291E);
    transition: all 300ms;
    position: absolute;
    top: -35px;
    left: 0;
    width: 102%;
    display: none;
    padding: 2px;
    border-radius: 2px;
}

.app-form-input-msj p {
    color: var(--color-font);
    text-align: right;
    font-size: .8rem;
}

.app-form-input {
    margin-bottom: 4px;
    min-width: 230px;
    position: relative;
    z-index:  none;
}

.app-form-input input,
.app-form-input textarea {
    display: block;
    border: none;
    outline: none;
    padding: 5px;
    height: 100%;
    width: 100%;
    font-size: .9rem;
    color: var(--color-font);
    font-family: var(--tipo-font);
    background-color: transparent;
}

.app-form-textarea {
    min-height: 30px;
    max-height: 70px;
}

/* Acciones - BTN Enviar form */
.app-form-btn-load {
    margin: 10px auto 0 auto;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    align-items: center;
}

.app-form-btn {
    color: var(--fondo-cartas);
    border-radius: 100%;
    font-size: 2.2rem;
    cursor: pointer;
    border: none;
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    text-align: center;
    transition: all 300ms;
    box-shadow: 1px 2px 3px -1px var(--sombra);
    background: linear-gradient(200deg,rgb(204,0,0),rgb(153,0,0));
}

.app-form-btn:hover {
    background: linear-gradient(200deg,rgb(153,0,0),rgb(204,0,0));
}

#app-form-check {
    display: none;
}

#app-form-error {
    display: none;
    font-size: 1.8rem;
}

#app-form-check.process {
    display: block;
}

#app-form-error.process {
    display: block;
}

#app-form-send.process {
    display: none;
}

/* Animaciones - form */
/* Animacion - app-form-line con focus */
.app-form-line.focus-in-te .app-form-camp {
    top: -16px;
    font-size: .8rem;
    color: var(--color-font);
}

.app-form-line.focus-in-te:before {
    width: 102%;
}

.app-form-line.error:before {
    background: #ED213A;
    background: -webkit-linear-gradient(140deg,#ED213A, #93291E);
    background: linear-gradient(140deg, #ED213A,#93291E);
}

.app-form-line.error .app-form-camp {
    color: #c12414;
}

.app-form-input-msj.error {
    display: block;
}

/* Animacion - app-form-btn en envio */
.app-form-btn-load.process {
    animation: load-process 700ms linear infinite;
    border: 2px solid transparent;
    display: flex;
    border-top-color: var(--color-oscuro);
}

.app-form-btn-load.process .app-form-btn {
    visibility: hidden;
}

/* Loader de la pagina */
.app-main-loader {
    height: 70vh;
    display: flex;
    align-items: center;
    transition: all 400ms;
}

#app-main-loader.process {
    border-top-color: #93291E;
}

.app-main-loader.process {
    display: none;
}

/* Pagina Desarrollo Web */
/* Contenido - Titulos de los servicios */
.app-serv-item {
    background-color:  var(--color-claro);
    padding-bottom: 20px;
}

.app-item-serv-title p {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-font-claro);
}

.app-item-serv-cont {
    display: block;
    padding: 10px;
}

.app-item-serv-cont ul {
    width: 200px;
    margin: auto;
    border-radius: 5px;
}

.app-serv-basico ul {
    background: #ffd156;
    background: -webkit-linear-gradient(140deg, #ffd156,#ff00c6);
    background: linear-gradient(140deg, #ffd156,#ff00c6);
}

.app-serv-premiun ul {
    background: #00B4DB;
    background: -webkit-linear-gradient(140deg, #00f8de,#0083B0);
    background: linear-gradient(140deg, #00f8de,#0083B0);
}

.app-serv-golden ul {
    background: #fbf46b;
    background: -webkit-linear-gradient(140deg, #fbf46b, #ff6d78);
    background: linear-gradient(140deg, #fbf46b, #ff6d78);
}

.app-serv-ultra ul {
    background: #ED213A;
    background: -webkit-linear-gradient(140deg,#ED213A, #93291E);
    background: linear-gradient(140deg, #ED213A,#93291E);
}

.app-item-serv-cont ul li {
    list-style: none;
    display: block;
    padding: 8px 25px;
    text-align: left;
    font-size: .9rem;
    color: var(--color-claro);
}

.app-serv-precio {
    text-align: center !important;
    padding: 15px !important;
    font-size: 1.5rem !important;
}

.app-serv-last {
    padding-bottom: 20px !important;
}

/* Pagina Bio */
/* Contenedor - contenido de bio */
.app-bio {
    max-width: 100%;
    display: flex;
    padding: 20px;
}

/* Contenido - Foto identificador */
.app-bio-cont-foto {
    display: inline-flex;
    width: 200px;
}

.app-bio-sep {
    display: none;
    font-size: 1.3rem;
    color: var(--color-font);
}

.app-bio-foto img {
    height: 98%;
    width: 180px;
}

/* Contenido - Texto de la bio */
.app-bio-cont-text {
    display: block;
    width: 400px;
    padding-left: 10px;
}

.app-bio-text {
    text-align: justify;
    font-size: .9rem;
    line-height: 25px;
    letter-spacing: 1px;
    color: var(--color-font);
}

/* Pagina de Mensajes */
.app-cont-item-small {
    padding: 5px;
    border-radius: 2px !important;
    background-color: var(--fondo-cartas);
}

.app-cont-item-st-small {
    box-shadow: 0px 0px 2px 0px var(--sombra); 
    position: absolute;
    display: flex;
    height: 25px;
    width: 25px;
    right: -10px;
    top: -10px;
    border-radius: 100%;
    justify-content: center;
    background: linear-gradient(140deg, #ED213A,#93291E);
}

.app-cont-item-st-small a {
    align-self: center;
    color: #fafafa;
    font-size: .9rem;
    cursor: default;
}

.app-cont-item-text-small {
    font-size: .9rem;
    color: var(--color-font);
}

.app-cont-item-text-small-ver {
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    margin: auto;
    width: 60px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    color: var(--color-font-claro);
}

.app-cont-item-text-small-ver:hover {
    background-color: rgb(7, 143, 255);
    transition-duration: 300ms;
    color: #fafafa;
}

/* Pagina de Mensajes - POPUP */
.app-popup {
    position: fixed;
    display: block;
    z-index: 11;
    top: -1px;
    left: 0;
    right: 0;
    height: 101vh;
    overflow: hidden;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    background-color: var(--color-oscuro-t);
}

.app-popup-open {
    visibility: visible;
}

.app-popup-cont {
    background-color: var(--color-claro);
    border-radius: 5px;
    display: block;
    margin: auto;
    padding: 20px;
    max-width: 400px;
    margin-top: -100%;
}

.app-popup-open-cont {
    margin-top: 15vh;
}

.app-popup-img {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
}

.app-popup-img img {
    width: 100%;
}

.app-popup-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    height: 230px;
    overflow: hidden;
    overflow-y: auto;
    margin: 10px auto;
    border-radius: 5px;
    background-color: var(--color-oscuro-t);
}

.app-popup-second-text {
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: space-between;
    /* background-color: #ED213A; */
}

.app-popup-second-text p {
    display: inline-block;
    font-size: .9rem;
    color: #a7a7a7;
    padding: 10px;
}

/* .app-popup-second-text-mail { */
    /* background-color: #00f8de; */
/* } */

.app-popup-second-text-day {
    /* background-color: #9d9d9d; */
    float: right;
    font-size: .8rem !important;
}

.app-popup-detalles {
    height: 60px;
    width: 100%;
    /* background-color: rgb(106, 114, 116); */
}

.app-popup-detalles h5 {
    text-align: center;
    display: block;
    font-size: 1rem;
    color: #cfcfcf;
}

.app-popup-marc-estado {
    margin-top: 10px;
    display: block;
    padding: 5px;
    text-align: center;
    /* background-color: #9d9d9d; */
}

.app-popup-marc-estado p {
    display: inline-block;
    font-size: .9rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: #cfcfcf;
}

.app-popup-marc-estado p:hover {
     background: linear-gradient(140deg, #ED213A,#93291E);;
}

/* .app-popup-marc-estado p:nth-child(1) {
    background-color: blue;
}

.app-popup-marc-estado p:nth-child(2) {
    background-color: red;
} */

.app-popup-first-text {
    max-height: 90px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--fondo-cartas);
}

.app-popup-first-text p {
    color: var(--color-oscuro-t);
    font-size: .9rem;
}

.app-popup-close {
    display: flex;
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
    border-radius: 100%;
}

.app-popup-close a {
    font-size: .9rem;
    display: block;
    margin: auto;
    align-self: center;
    color: var(--color-font);
}

.app-popup-close:hover {
    background-color: var(--fondo-cartas);
}

/* Animacion de Scale de las cartas al iniciarce */
.app-cont-item-scale {
    animation: scaleCarts 400ms both;
    animation-timing-function: ease-in-out;   
    animation-delay: 300ms;
}

@keyframes scaleCarts {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Final de la pagina */
.app-footer {
    box-shadow: 0px 0px 10px -5px var(--sombra);
    border-radius: 5px 5px 0 0;
    position: relative;
    height: 25px;
    z-index: 0;
    margin: auto;
    max-width: 600px;
}

.app-footer-content {
    box-shadow: 0px -3px 8px -5px var(--sombra);
    border-radius: 100% 100% 0 0;
    position: absolute;
    max-width: 70px;
    z-index: 1;
    bottom: 98%;
    left: 0;
    right: 0;
    margin: auto;
    height: 75px;
    background-color: var(--fondo-page);
}

#app-footer-logo {
    display: block;
    top: 5px;
    box-shadow: none;
    border-color: var(--color-claro);
}

.app-content-year {
    position: absolute;
    display: block;
    top: 90%;
    right: 0;
    left: 0;
    text-align: center;
}

.app-content-year p {
    font-weight: bold;
    font-size: .8rem;
    color: var(--color-font);
}

/* Reglas de estilo Responsive */
@media screen and (max-width: 600px) {
    .app-vista-zoom {
        visibility: visible;
        background-color: rgba(250,250,250,.4);
    }

    .app-zoom {
        display: block;
    }

    .app-bio {
        display: block;
    }

    .app-bio-cont-foto {
        display: block;
        width: 100%;
        text-align: center;
    }

    .app-bio-foto {
        display: none;
    }

    .app-bio-sep {
        display: block;
        padding: 0 0 25px 0;
    }

    .app-bio-cont-text {
        width: 100%;
        padding-left: 0;
    }

    .app-bio-text {
        font-size: .8rem;
    }
}

@media screen and (max-width: 530px) {
    .app-zoom-foto {
        max-height: calc(100vh - 10px);
        max-width: calc(100vw - 10px);
    }

    .app-vista-cont-fotos {
        margin-top: 10px;
    }

    .app-vista {
        margin: 5px auto;
    }

    .app-vista img {
        border-radius: 10px !important;
    }

    .app-vista-cont-texto {
        margin-top: 5px;
        padding: 20px;
        font-size: 1em;
    }

    .app-form-line {
        width: 100%;
    }

    #app-form-textarea {
        margin: 15px auto;
    }
}

@media screen and (max-width: 360px) {
    .app-nav-locacion #app-location {
        font-size: .8rem;
    }

    .app-list-item a {
        font-size: .8rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 320px) {
    .app-nav-locacion #app-location {
        font-size: 1rem;
    }

    .app-content-logo {
        display: none;
    }

    .app-nav-menu {
        min-height: 200px;
        padding-top: 0;
    }

    .app-nav-menu.opened {
        top: calc(100% - 10px);
    }

    .app-main {
        padding-top: 40px;
    }

    .app-zoom-foto {
        max-height: calc(100vh - 2px);
        max-width: calc(100vw - 2px);
    }
}

/* Key Frames - Animaciones */
@keyframes load-process {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}
